<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>


<form method="POST">
<p>Ссылка для сокращения</p>
<input type="text" name="user_url">
<p></p>
<input type="radio" name="radio" value="self" id="self"> Придумаю урл самостоятельно<br>
<input type="radio" name="radio" value="auto" id="auto"> Автогенерация урла<br>
    {% csrf_token %}
    <input type="submit" value="send">
    <input type="reset" value="clear">

</form>

{% block content %}



{% endblock %}
</body>
</html>